/*header first column styles starts*/

.header-first-column {
  @include media ($width-mid) {
    display: flex;
    flex-direction: column;
    margin-right: 1%;
  }
  @include media ($width-max) {
    font-size: 14px;
  }
  .sales {
    @include media($width-mid) {
      color: #fa0c3f;
    }
    @include media($width-max){
      margin-bottom: -1px;
    }
  }

  .sales > * {
    @include media($width-mid) {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .icon-star {
    @include media($width-mid) {
      background-image: url(img/star_icon.svg);
      background-repeat: no-repeat;
      background-size: 13px 11px;
      width: 13px;
      height: 11px;
    }
    @include media($width-max) {
      background-size: 15px 14px;
      width: 15px;
      height: 14px;
    }
  }
  .stock {
    @include media($width-mid){
      margin-right: 17px;
    }
    @include media($width-max) {
      margin-right: 20px;
    }
  }
  .stock > * {
    @include media($width-mid) {
      display: inline-block;
    }
  }
  .stock a:last-child {
    @include media($width-mid) {
      padding-bottom: 1px;
    }
  }
  .installment {
    @include media($width-mid){
      color: #0075be;
    }
  }
  .installment > * {
    @include media($width-mid) {
      vertical-align: middle;
    }
  }
  .installment span:first-child {
    @include media($width-mid) {
      margin-right: 1px;
    }
  }
  .logo {
    @include media($width-mid) {
      width: 177px;
    }
    @include media($width-max) {
      width: 218px;
      height: 47px;
    }
  }
}

/*header column header styles ends*/