<!--counter down starts-->

<div class="countdown" data-date="30-5-2018" data-time="12:00">
    <div class="day"><span class="num"></span><span class="word"></span></div><span class="delimiter">:</span>
    <div class="hour"><span class="num"></span><span class="word"></span></div><span class="delimiter">:</span>
    <div class="min"><span class="num"></span><span class="word"></span></div><span class="delimiter">:</span>
    <div class="sec"><span class="num"></span><span class="word"></span></div>
</div>

<!--counter down ends-->
