<div class="goods-characters">
    <div class="goods-title-box-wrap">
    <div class="goods-description-title-box">
        <div class="goods-characters-title-icon goods-description-icon"></div>
        <div class="goods-description-title">Характеристики</div>
    </div>
    </div>
    <div class="goods-characters-table">
        <div class="goods-characters-table-item">
            <div class="characters-item-name">основа матраса</div>
            <div class="characters-item-value characters-item-value-blue">Мультипружинный</div>
            <button class="popup-btn">?</button>
        </div>
        <div class="goods-characters-table-item">
            <div class="characters-item-name">жесткость матраса</div>
            <div class="characters-item-value characters-item-value-blue">Medium</div>
            <button class="popup-btn">?</button>
        </div>
        <div class="goods-characters-table-item">
            <div class="characters-item-name">высота</div>
            <div class="characters-item-value">20 см</div>
        </div>
        <div class="goods-characters-table-item">
            <div class="characters-item-name">максимальный вес</div>
            <div class="characters-item-value">120</div>
        </div>
    </div>
</div>