$width-max: '(min-width: 1570px)';
$width-mid: '(min-width: 1270px)';
$width-sm: '(min-width: 940px)';
$width-xs:'(min-width: 480px)';


$days: 'Days';
$pragreg: 'PragmaticaReg';
$pragregbold: 'Pragmatica Bold';
$proxreg: 'Proximareg';
$myriadreg: 'MyriadPro-Regular';
$myriadbold: 'MyriadPro-Bold';

//$columns: 12;

//@mainblue: #00a99d;
//@mainblack: #383838;
//@bgwhite: #f9f9f9;
//@textwhite: #e4e4e4;
//@textblack: #606060;
//
//@font-size-base: 16px;