<section class="together-cheaper">
    <div class="together-cheaper-title-box">
        <div class="gift-box-icon"></div>
        <div class="together-cheaper-main-title">
            <p>Вместе дешевле</p>
            <p class="together-cheaper-title-text">Экономьте до 20% от стоимости покупая комплекты</p>
        </div>
    </div>
    <div class="together-cheaper-line"></div>
    <div class="slick-shadow">
        <div class="together-cheaper-slider">
            <div class="together-cheaper-box">
            <div class="together-cheaper-subtitle">
                <p>Вместе дешевле</p>
                <p>1+1=4</p>
            </div>
            <div class="together-cheaper-goods-wrap">
                <div class="together-cheaper-good">
                    <img class="good-img-bed" src="img/bed.png" alt="bed">
                    <div class="together-cheaper-good-info">
                        <p class="together-cheaper-good-discount">-10%</p>
                        <p class="together-cheaper-good-name">Ортопедический матрас «Венето Комфорт Мульти»</p>
                        <div class="together-cheaper-size-price-box">
                        <p class="together-cheaper-good-size">180х190 см</p>
                        <p class="together-cheaper-good-old-price">
                            <del>11 661 грн</del>
                        </p>
                        <p class="together-cheaper-good-price">11 661 грн</p>
                        </div>
                    </div>
                </div>
                <div class="together-cheaper-good">
                    <img class = "good-img-mattress" src="img/mattress.png" alt="mattress">
                    <div class="together-cheaper-good-info">
                        <p class="together-cheaper-good-discount">-10%</p>
                        <p class="together-cheaper-good-name">Кровать Сомье «Жезефина»</p>
                        <div class="together-cheaper-size-price-box">
                        <p class="together-cheaper-good-size">180х190 см</p>
                        <p class="together-cheaper-good-old-price">
                            <del>11 661 грн</del>
                        </p>
                        <p class="together-cheaper-good-price">19 661 грн</p>
                        </div>
                    </div>
                </div>
                <div class="together-cheaper-good">
                    <img src="img/pillow.png" alt="pillows">
                    <div class="together-cheaper-good-info">
                        <p class="together-cheaper-good-name">Ортопедический матрас</p>
                        <p class="together-cheaper-good-size">200х220 см</p>
                        <p class="together-cheaper-good-price-red">1 грн</p>
                    </div>
                </div>
                <div class="together-cheaper-good">
                    <img src="img/pillow.png" alt="pillows">
                    <div class="together-cheaper-good-info">
                        <p class="together-cheaper-good-name">Ортопедический матрас «Комфорт»</p>
                        <p class="together-cheaper-good-size">200х220 см</p>
                        <p class="together-cheaper-good-price-red">1 грн</p>
                    </div>
                </div>
            </div>
            <div class="together-cheaper-plus-box">
                <div class="together-cheaper-plus"><span>+</span></div>
                <div class="together-cheaper-plus"><span>+</span></div>
                <div class="together-cheaper-plus"><span>=</span></div>
            </div>
            <div class="together-cheaper-buy">
                <div class="together-cheaper-total">
                    <p>29 562 <span>грн</span></p>
                    <p>
                        <del>32 562 <span>грн</span></del>
                    </p>
                </div>
                <button type="submit" class="together-cheaper-btn-buy-installment">
                    КУПИТЬ В РАССРОЧКУ <br> от 1802 грн/мес.
                </button>
                <button type="submit" class="together-cheaper-btn-buy">
                    купить комплект
                </button>
            </div>
        </div>
            <div class="together-cheaper-box">
                <div class="together-cheaper-subtitle">
                    <p>Вместе дешевле</p>
                    <p>1+1=4</p>
                </div>
                <div class="together-cheaper-goods-wrap">
                    <div class="together-cheaper-good">
                        <img class="good-img-bed" src="img/bed.png" alt="bed">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-discount">-10%</p>
                            <p class="together-cheaper-good-name">Ортопедический матрас «Венето Комфорт Мульти»</p>
                            <div class="together-cheaper-size-price-box">
                                <p class="together-cheaper-good-size">180х190 см</p>
                                <p class="together-cheaper-good-old-price">
                                    <del>11 661 грн</del>
                                </p>
                                <p class="together-cheaper-good-price">11 661 грн</p>
                            </div>
                        </div>
                    </div>
                    <div class="together-cheaper-good">
                        <img class = "good-img-mattress" src="img/mattress.png" alt="mattress">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-discount">-10%</p>
                            <p class="together-cheaper-good-name">Кровать Сомье «Жезефина»</p>
                            <div class="together-cheaper-size-price-box">
                                <p class="together-cheaper-good-size">180х190 см</p>
                                <p class="together-cheaper-good-old-price">
                                    <del>11 661 грн</del>
                                </p>
                                <p class="together-cheaper-good-price">19 661 грн</p>
                            </div>
                        </div>
                    </div>
                    <div class="together-cheaper-good">
                        <img src="img/pillow.png" alt="pillows">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-name">Ортопедический матрас</p>
                            <p class="together-cheaper-good-size">200х220 см</p>
                            <p class="together-cheaper-good-price-red">1 грн</p>
                        </div>
                    </div>
                    <div class="together-cheaper-good">
                        <img src="img/pillow.png" alt="pillows">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-name">Ортопедический матрас «Комфорт»</p>
                            <p class="together-cheaper-good-size">200х220 см</p>
                            <p class="together-cheaper-good-price-red">1 грн</p>
                        </div>
                    </div>
                </div>
                <div class="together-cheaper-plus-box">
                    <div class="together-cheaper-plus"><span>+</span></div>
                    <div class="together-cheaper-plus"><span>+</span></div>
                    <div class="together-cheaper-plus"><span>=</span></div>
                </div>
                <div class="together-cheaper-buy">
                    <div class="together-cheaper-total">
                        <p>29 562 <span>грн</span></p>
                        <p>
                            <del>32 562 <span>грн</span></del>
                        </p>
                    </div>
                    <button type="submit" class="together-cheaper-btn-buy-installment">
                        КУПИТЬ В РАССРОЧКУ <br> от 1802 грн/мес.
                    </button>
                    <button type="submit" class="together-cheaper-btn-buy">
                        купить комплект
                    </button>
                </div>
            </div>
            <div class="together-cheaper-box">
                <div class="together-cheaper-subtitle">
                    <p>Вместе дешевле</p>
                    <p>1+1=4</p>
                </div>
                <div class="together-cheaper-goods-wrap">
                    <div class="together-cheaper-good">
                        <img class="good-img-bed" src="img/bed.png" alt="bed">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-discount">-10%</p>
                            <p class="together-cheaper-good-name">Ортопедический матрас «Венето Комфорт Мульти»</p>
                            <div class="together-cheaper-size-price-box">
                                <p class="together-cheaper-good-size">180х190 см</p>
                                <p class="together-cheaper-good-old-price">
                                    <del>11 661 грн</del>
                                </p>
                                <p class="together-cheaper-good-price">11 661 грн</p>
                            </div>
                        </div>
                    </div>
                    <div class="together-cheaper-good">
                        <img class = "good-img-mattress" src="img/mattress.png" alt="mattress">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-discount">-10%</p>
                            <p class="together-cheaper-good-name">Кровать Сомье «Жезефина»</p>
                            <div class="together-cheaper-size-price-box">
                                <p class="together-cheaper-good-size">180х190 см</p>
                                <p class="together-cheaper-good-old-price">
                                    <del>11 661 грн</del>
                                </p>
                                <p class="together-cheaper-good-price">19 661 грн</p>
                            </div>
                        </div>
                    </div>
                    <div class="together-cheaper-good">
                        <img src="img/pillow.png" alt="pillows">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-name">Ортопедический матрас</p>
                            <p class="together-cheaper-good-size">200х220 см</p>
                            <p class="together-cheaper-good-price-red">1 грн</p>
                        </div>
                    </div>
                    <div class="together-cheaper-good">
                        <img src="img/pillow.png" alt="pillows">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-name">Ортопедический матрас «Комфорт»</p>
                            <p class="together-cheaper-good-size">200х220 см</p>
                            <p class="together-cheaper-good-price-red">1 грн</p>
                        </div>
                    </div>
                </div>
                <div class="together-cheaper-plus-box">
                    <div class="together-cheaper-plus"><span>+</span></div>
                    <div class="together-cheaper-plus"><span>+</span></div>
                    <div class="together-cheaper-plus"><span>=</span></div>
                </div>
                <div class="together-cheaper-buy">
                    <div class="together-cheaper-total">
                        <p>29 562 <span>грн</span></p>
                        <p>
                            <del>32 562 <span>грн</span></del>
                        </p>
                    </div>
                    <button type="submit" class="together-cheaper-btn-buy-installment">
                        КУПИТЬ В РАССРОЧКУ <br> от 1802 грн/мес.
                    </button>
                    <button type="submit" class="together-cheaper-btn-buy">
                        купить комплект
                    </button>
                </div>
            </div>
            <div class="together-cheaper-box">
                <div class="together-cheaper-subtitle">
                    <p>Вместе дешевле</p>
                    <p>1+1=4</p>
                </div>
                <div class="together-cheaper-goods-wrap">
                    <div class="together-cheaper-good">
                        <img class="good-img-bed" src="img/bed.png" alt="bed">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-discount">-10%</p>
                            <p class="together-cheaper-good-name">Ортопедический матрас «Венето Комфорт Мульти»</p>
                            <div class="together-cheaper-size-price-box">
                                <p class="together-cheaper-good-size">180х190 см</p>
                                <p class="together-cheaper-good-old-price">
                                    <del>11 661 грн</del>
                                </p>
                                <p class="together-cheaper-good-price">11 661 грн</p>
                            </div>
                        </div>
                    </div>
                    <div class="together-cheaper-good">
                        <img class = "good-img-mattress" src="img/mattress.png" alt="mattress">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-discount">-10%</p>
                            <p class="together-cheaper-good-name">Кровать Сомье «Жезефина»</p>
                            <div class="together-cheaper-size-price-box">
                                <p class="together-cheaper-good-size">180х190 см</p>
                                <p class="together-cheaper-good-old-price">
                                    <del>11 661 грн</del>
                                </p>
                                <p class="together-cheaper-good-price">19 661 грн</p>
                            </div>
                        </div>
                    </div>
                    <div class="together-cheaper-good">
                        <img src="img/pillow.png" alt="pillows">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-name">Ортопедический матрас</p>
                            <p class="together-cheaper-good-size">200х220 см</p>
                            <p class="together-cheaper-good-price-red">1 грн</p>
                        </div>
                    </div>
                    <div class="together-cheaper-good">
                        <img src="img/pillow.png" alt="pillows">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-name">Ортопедический матрас «Комфорт»</p>
                            <p class="together-cheaper-good-size">200х220 см</p>
                            <p class="together-cheaper-good-price-red">1 грн</p>
                        </div>
                    </div>
                </div>
                <div class="together-cheaper-plus-box">
                    <div class="together-cheaper-plus"><span>+</span></div>
                    <div class="together-cheaper-plus"><span>+</span></div>
                    <div class="together-cheaper-plus"><span>=</span></div>
                </div>
                <div class="together-cheaper-buy">
                    <div class="together-cheaper-total">
                        <p>29 562 <span>грн</span></p>
                        <p>
                            <del>32 562 <span>грн</span></del>
                        </p>
                    </div>
                    <button type="submit" class="together-cheaper-btn-buy-installment">
                        КУПИТЬ В РАССРОЧКУ <br> от 1802 грн/мес.
                    </button>
                    <button type="submit" class="together-cheaper-btn-buy">
                        купить комплект
                    </button>
                </div>
            </div>
            <div class="together-cheaper-box">
                <div class="together-cheaper-subtitle">
                    <p>Вместе дешевле</p>
                    <p>1+1=4</p>
                </div>
                <div class="together-cheaper-goods-wrap">
                    <div class="together-cheaper-good">
                        <img class="good-img-bed" src="img/bed.png" alt="bed">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-discount">-10%</p>
                            <p class="together-cheaper-good-name">Ортопедический матрас «Венето Комфорт Мульти»</p>
                            <div class="together-cheaper-size-price-box">
                                <p class="together-cheaper-good-size">180х190 см</p>
                                <p class="together-cheaper-good-old-price">
                                    <del>11 661 грн</del>
                                </p>
                                <p class="together-cheaper-good-price">11 661 грн</p>
                            </div>
                        </div>
                    </div>
                    <div class="together-cheaper-good">
                        <img class = "good-img-mattress" src="img/mattress.png" alt="mattress">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-discount">-10%</p>
                            <p class="together-cheaper-good-name">Кровать Сомье «Жезефина»</p>
                            <div class="together-cheaper-size-price-box">
                                <p class="together-cheaper-good-size">180х190 см</p>
                                <p class="together-cheaper-good-old-price">
                                    <del>11 661 грн</del>
                                </p>
                                <p class="together-cheaper-good-price">19 661 грн</p>
                            </div>
                        </div>
                    </div>
                    <div class="together-cheaper-good">
                        <img src="img/pillow.png" alt="pillows">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-name">Ортопедический матрас</p>
                            <p class="together-cheaper-good-size">200х220 см</p>
                            <p class="together-cheaper-good-price-red">1 грн</p>
                        </div>
                    </div>
                    <div class="together-cheaper-good">
                        <img src="img/pillow.png" alt="pillows">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-name">Ортопедический матрас «Комфорт»</p>
                            <p class="together-cheaper-good-size">200х220 см</p>
                            <p class="together-cheaper-good-price-red">1 грн</p>
                        </div>
                    </div>
                </div>
                <div class="together-cheaper-plus-box">
                    <div class="together-cheaper-plus"><span>+</span></div>
                    <div class="together-cheaper-plus"><span>+</span></div>
                    <div class="together-cheaper-plus"><span>=</span></div>
                </div>
                <div class="together-cheaper-buy">
                    <div class="together-cheaper-total">
                        <p>29 562 <span>грн</span></p>
                        <p>
                            <del>32 562 <span>грн</span></del>
                        </p>
                    </div>
                    <button type="submit" class="together-cheaper-btn-buy-installment">
                        КУПИТЬ В РАССРОЧКУ <br> от 1802 грн/мес.
                    </button>
                    <button type="submit" class="together-cheaper-btn-buy">
                        купить комплект
                    </button>
                </div>
            </div>
            <div class="together-cheaper-box">
                <div class="together-cheaper-subtitle">
                    <p>Вместе дешевле</p>
                    <p>1+1=4</p>
                </div>
                <div class="together-cheaper-goods-wrap">
                    <div class="together-cheaper-good">
                        <img class="good-img-bed" src="img/bed.png" alt="bed">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-discount">-10%</p>
                            <p class="together-cheaper-good-name">Ортопедический матрас «Венето Комфорт Мульти»</p>
                            <div class="together-cheaper-size-price-box">
                                <p class="together-cheaper-good-size">180х190 см</p>
                                <p class="together-cheaper-good-old-price">
                                    <del>11 661 грн</del>
                                </p>
                                <p class="together-cheaper-good-price">11 661 грн</p>
                            </div>
                        </div>
                    </div>
                    <div class="together-cheaper-good">
                        <img class = "good-img-mattress" src="img/mattress.png" alt="mattress">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-discount">-10%</p>
                            <p class="together-cheaper-good-name">Кровать Сомье «Жезефина»</p>
                            <div class="together-cheaper-size-price-box">
                                <p class="together-cheaper-good-size">180х190 см</p>
                                <p class="together-cheaper-good-old-price">
                                    <del>11 661 грн</del>
                                </p>
                                <p class="together-cheaper-good-price">19 661 грн</p>
                            </div>
                        </div>
                    </div>
                    <div class="together-cheaper-good">
                        <img src="img/pillow.png" alt="pillows">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-name">Ортопедический матрас</p>
                            <p class="together-cheaper-good-size">200х220 см</p>
                            <p class="together-cheaper-good-price-red">1 грн</p>
                        </div>
                    </div>
                    <div class="together-cheaper-good">
                        <img src="img/pillow.png" alt="pillows">
                        <div class="together-cheaper-good-info">
                            <p class="together-cheaper-good-name">Ортопедический матрас «Комфорт»</p>
                            <p class="together-cheaper-good-size">200х220 см</p>
                            <p class="together-cheaper-good-price-red">1 грн</p>
                        </div>
                    </div>
                </div>
                <div class="together-cheaper-plus-box">
                    <div class="together-cheaper-plus"><span>+</span></div>
                    <div class="together-cheaper-plus"><span>+</span></div>
                    <div class="together-cheaper-plus"><span>=</span></div>
                </div>
                <div class="together-cheaper-buy">
                    <div class="together-cheaper-total">
                        <p>29 562 <span>грн</span></p>
                        <p>
                            <del>32 562 <span>грн</span></del>
                        </p>
                    </div>
                    <button type="submit" class="together-cheaper-btn-buy-installment">
                        КУПИТЬ В РАССРОЧКУ <br> от 1802 грн/мес.
                    </button>
                    <button type="submit" class="together-cheaper-btn-buy">
                        купить комплект
                    </button>
                </div>
            </div>
    </div>
</section>