<!--goods menu starts-->

<ul class="goods-menu">
    <li class="goods-menu-item">
        <div class="goods-menu-arrowup-box">
            <div class="goods-menu-arrowup"></div>
        </div>
        <a>МАТРАСЫ</a>
        <div class="goods-menu-dropdown">
        <ul class="goods-menu-dropdown-menu">
                    <li class="goods-menu-dropdown-item"><a>Мультипружинные</a></li>
                    <li class="goods-menu-dropdown-item"><a>Односпальные</a></li>
                    <li class="goods-menu-dropdown-item"><a>Беспружинные</a></li>
                    <li class="goods-menu-dropdown-item"><a>Бонель</a></li>
                    <li class="goods-menu-dropdown-item"><a>Двухспальные</a></li>
                    <li class="goods-menu-dropdown-item"><a>Топперы - наматрасники</a></li>
        </ul>
            <div class = dropdown-stock-counter-item><div class="stock-counter-box">
                <img src="img/goodsimg1.png" alt="Goodsimg1" class="goodsimg1">
                <div class="stock-box">
                    <p class="amount-discont">- 20%</p>
                    <p class="discont-good">на диван Честер</p>
                </div>
                <div class="counterdown-wrap">
                    <div class="counterdown-text-blocks stock-ends">До окончания акции</div>

                    <!--#insert file="../../counterdown/-counterdown.html"-->

                    <div class="counterdown-text-blocks details">Подробнее</div>
                </div>
            </div></div>
        </div>
    </li>
    <li class="goods-menu-item">
        <div class="goods-menu-arrowup-box">
            <div class="goods-menu-arrowup"></div>
        </div>
        <a>ДИВАНЫ</a>
        <div class="goods-menu-dropdown">
        <ul class="goods-menu-dropdown-menu">
            <li class="goods-menu-dropdown-item"><a>Диваны угловые</a>
                <ul>
                    <li class="goods-menu-dropdown-subitem"><a>Дельфин</a></li>
                    <li class="goods-menu-dropdown-subitem"><a>Поворотный</a></li>
                    <li class="goods-menu-dropdown-subitem"><a>Еврокнижка</a></li>
                </ul>
            </li>
            <li class="goods-menu-dropdown-item"><a>Диваны прямые</a>
                <ul>
                    <li class="goods-menu-dropdown-subitem"><a>Аккордеон</a></li>
                    <li class="goods-menu-dropdown-subitem"><a>Еврокнижка</a></li>
                    <li class="goods-menu-dropdown-subitem"><a>Клик-кляк</a></li>
                    <li class="goods-menu-dropdown-subitem"><a>Шагающий</a></li>
                </ul>
            </li>
            <li class="goods-menu-dropdown-item"><a>Пуфы</a></li>
        </ul>
            <div class = dropdown-stock-counter-item><div class="stock-counter-box">
            <img src="img/goodsimg1.png" alt="Goodsimg1" class="goodsimg1">
            <div class="stock-box">
                <p class="amount-discont">- 20%</p>
                <p class="discont-good">на диван Честер</p>
            </div>
            <div class="counterdown-wrap">
                <div class="counterdown-text-blocks stock-ends">До окончания акции</div>

                <!--#insert file="../../counterdown/-counterdown.html"-->

                <div class="counterdown-text-blocks details">Подробнее</div>
            </div>
        </div></div>
        </div>
    </li>
    <li class="goods-menu-item">
        <div class="goods-menu-arrowup-box">
            <div class="goods-menu-arrowup"></div>
        </div>
        <a>КРОВАТИ</a>
        <div class="goods-menu-dropdown">
            <ul class="goods-menu-dropdown-menu">
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Кровати из дерева</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Каркасы</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Модульные системы</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Мягкие кровати</a> сомье</li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Раскладушки</a></li>
                </ul>
            <div class = dropdown-stock-counter-item>
                <div class="stock-counter-box">
                <img src="img/goodsimg1.png" alt="Goodsimg1" class="goodsimg1">
                <div class="stock-box">
                    <p class="amount-discont">- 20%</p>
                    <p class="discont-good">на диван Честер</p>
                </div>
                <div class="counterdown-wrap">
                    <div class="counterdown-text-blocks stock-ends">До окончания акции</div>

                    <!--#insert file="../../counterdown/-counterdown.html"-->

                    <div class="counterdown-text-blocks details">Подробнее</div>
                </div>
            </div>
            </div>
        </div>
    </li>
    <li class="goods-menu-item">
        <div class="goods-menu-arrowup-box">
            <div class="goods-menu-arrowup"></div>
        </div>
        <a>ОДЕЯЛА</a>
        <div class="goods-menu-dropdown">
            <ul class="goods-menu-dropdown-menu">
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Зимние</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Антиаллергенные</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>4 сезона</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Шерстяные</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Летние</a></li>
                </ul>
            <div class = dropdown-stock-counter-item><div class="stock-counter-box">
                <img src="img/goodsimg1.png" alt="Goodsimg1" class="goodsimg1">
                <div class="stock-box">
                    <p class="amount-discont">- 20%</p>
                    <p class="discont-good">на диван Честер</p>
                </div>
                <div class="counterdown-wrap">
                    <div class="counterdown-text-blocks stock-ends">До окончания акции</div>

                    <!--#insert file="../../counterdown/-counterdown.html"-->

                    <div class="counterdown-text-blocks details">Подробнее</div>
                </div>
            </div></div>
        </div>
    </li>
    <li class="goods-menu-item">
        <div class="goods-menu-arrowup-box">
            <div class="goods-menu-arrowup"></div>
        </div>
        <a>ПОДУШКИ</a>
        <div class="goods-menu-dropdown">
            <ul class="goods-menu-dropdown-menu">
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Низкие</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Декоративные</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Средние</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Для детей</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Высокие</a></li>
            </ul>
            <div class = dropdown-stock-counter-item><div class="stock-counter-box">
                <img src="img/goodsimg1.png" alt="Goodsimg1" class="goodsimg1">
                <div class="stock-box">
                    <p class="amount-discont">- 20%</p>
                    <p class="discont-good">на диван Честер</p>
                </div>
                <div class="counterdown-wrap">
                    <div class="counterdown-text-blocks stock-ends">До окончания акции</div>

                    <!--#insert file="../../counterdown/-counterdown.html"-->

                    <div class="counterdown-text-blocks details">Подробнее</div>
                </div>
            </div></div>
        </div>
    </li>
    <li class="goods-menu-item">
        <div class="goods-menu-arrowup-box">
            <div class="goods-menu-arrowup"></div>
        </div>
        <a>НАМАТРАСНИКИ</a>
        <div class="goods-menu-dropdown">
            <ul class="goods-menu-dropdown-menu">
                <li class="goods-menu-dropdown-item dropdown-item-column"><a>Влагонепроницаемые</a></li>
                <li class="goods-menu-dropdown-item dropdown-item-column"><a>Обычные</a></li>
                </ul>
            <div class = dropdown-stock-counter-item><div class="stock-counter-box">
                <img src="img/goodsimg1.png" alt="Goodsimg1" class="goodsimg1">
                <div class="stock-box">
                    <p class="amount-discont">- 20%</p>
                    <p class="discont-good">на диван Честер</p>
                </div>
                <div class="counterdown-wrap">
                    <div class="counterdown-text-blocks stock-ends">До окончания акции</div>

                    <!--#insert file="../../counterdown/-counterdown.html"-->

                    <div class="counterdown-text-blocks details">Подробнее</div>
                </div>
            </div></div>
        </div>
    </li>
    <li class="goods-menu-item">
        <div class="goods-menu-arrowup-box">
            <div class="goods-menu-arrowup"></div>
        </div>
        <a>ДЕТСКИЕ ТОВАРЫ</a>
        <div class="goods-menu-dropdown">
            <ul class="goods-menu-dropdown-menu">
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Детская мебель</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Детский текстиль</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Детские матрасы</a></li>
                    <li class="goods-menu-dropdown-item dropdown-item-column"><a>Детские подушки</a></li>
                </ul>
            <div class = dropdown-stock-counter-item><div class="stock-counter-box">
                <img src="img/goodsimg1.png" alt="Goodsimg1" class="goodsimg1">
                <div class="stock-box">
                    <p class="amount-discont">- 20%</p>
                    <p class="discont-good">на диван Честер</p>
                </div>
                <div class="counterdown-wrap">
                    <div class="counterdown-text-blocks stock-ends">До окончания акции</div>

                    <!--#insert file="../../counterdown/-counterdown.html"-->

                    <div class="counterdown-text-blocks details">Подробнее</div>
                </div>
            </div></div>
        </div>
    </li>
</ul>

<!--goods menu ends-->
