<div class="goods-together-cheaper">
    <div class="goods-title-box-wrap">
        <div class="goods-description-title-box">
            <div class="goods-together-cheaper-title-icon goods-description-icon"></div>
            <div class="goods-description-title">Вместе дешевле</div>
        </div>
    </div>
        <div class="goods-description-text">Lorem Ipsum has been the industry's standard dummy
            text ever since the 1500s, when an unknprinter t ook a
            galley of type and scrambled it to make a typespecime
            n book. It has survived not only five centuries, but also
            the leap into electronic typesetting, remaining essentia
            lly unchanged. It was popularised in the 1960s with the
            release of Letrasety five centuries, but also the leap int
            o electronic typesetting, remaining </div>
</div>