<!--header second column starts-->

<div class="header-second-column">

    <!--header second column first row starts-->

    <div class="header-first-row">

        <!--#insert file="../__mainmenu/--mainmenu.html"-->

        <div class="phones">
            <div class="phone-wrap"><span class="lifecell-icon"></span><span>073-21-11-176</span></div>
            <div class="phone-wrap"><span class="kievstar-icon"></span><span>067-23-18-796</span></div>
            <div class="phone-wrap"><span class="vodafone-icon"></span><span>050-35-39-347</span></div>
        </div>
        <div class="authorisation">
            <!--<div class="our-markets-box">-->
                <!--<div class="pin-icon"></div>-->
                <!--<span class="our-markets">Наши магазины</span></div>-->
            <div class="city">
                <div class="city-panel-wrap">
                    <div class="city-panel">
                            <li class = "city-panel-item-box"><a class="city-panel-item">Ужгород</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Умань</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Харьков</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Херсон</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Хмельницкий</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Черкассы</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Чернигов</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Черновцы</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Николаев</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Ирпень</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Вишневое</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Запорожье</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Ивано-Франковск</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Кропивницкий</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Кременчуг</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Луцк</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Львов</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Миргород</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Полтава</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Старый</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Сумы</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Тернополь</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item city-panel-item-active">Киев</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Одесса</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Ровно</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Белая Церковь</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Борисполь</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Бровары</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Васильков</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Винница</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Днепр</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Житомир</a></li>
                            <li class = "city-panel-item-box"><a class="city-panel-item">Бердичев</a></li>
                        </ul>
                    </div>
                </div>
                <div class="city-text-box">
                    <div class="city-text">Киев</div>
                    <div class="city-panel-arrowup"></div>
                </div>
            </div>
            <div class="avatar-icon"></div>
            <div class="language">
                <div class="language-text">RU</div>
                <div class="language-panel-wrap">
                <div class="language-panel">
                    <div class="language-panel-text">UA</div></div>
                </div>
                <div class="language-arrow"></div>

            </div>
        </div>
    </div>

    <!--header second column first row ends-->

    <!--header second column second row starts-->

    <div class="header-second-row">

        <!--#insert file="../__goodsmenu/--goodsmenu.html"-->

        <form class="search-box"><input type="text" class="search-area" placeholder="Поиск по сайту">
            <input class="search-icon">
        </form>
        <div class="marker-cart-box">
            <div class="our-markets-box">
                <div class="pin-icon"></div>
                <span class="our-markets">Наши магазины</span></div>
            <a class="cart">
                <div class="cart-icon"></div>
                <div class="court-counter">0</div>
            </a>
        </div>
    </div>
</div>

<!--header second column second row ends-->