/*header second column styles starts*/

.header-second-column {
  @include media($width-mid) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
}

/*header second column first row styles start*/

.header-first-row {
  @include media($width-mid) {
    display: flex;
    margin-bottom: 8px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  @include media($width-max) {
    margin-bottom: 11px;
  }
}

.header-first-row > * {
  @include media($width-mid) {
    display: inline-block;
    vertical-align: middle;
  }
}

.phones {
  @include media($width-mid) {
    font-size: 12.14px;
  }
  @include media($width-max) {
    font-size: 15px;
  }
}

.phones > * {
  @include media($width-mid) {
    display: inline-block;
    margin-right: 11px;
  }
}

.phone-wrap {
  @include media($width-max) {
    margin-right: 13px;
  }
}

.phone-wrap > * {
  @include media($width-mid) {
    display: inline-block;
    vertical-align: middle;
  }
}

.phone-wrap:last-child {
  @include media($width-mid) {
    margin-right: 0;
  }
}

.phone-wrap span:nth-child(2) {
  @include media($width-max) {
    font-size: 15px;
  }
}

.phone-wrap span:first-child {
  margin-right: 8px;
}

.kievstar-icon {
  @include media($width-mid) {
    background-image: url(img/kievstar.svg);
    background-size: 20px 19px;
    width: 20px;
    height: 19px;
  }
  @include media($width-max) {
    background-image: url(img/kievstar.svg);
    background-repeat: no-repeat;
    background-size: 25px 22px;
    width: 25px;
    height: 22px;
  }
}

.lifecell-icon {
  @include media($width-mid) {
    background-image: url(img/lifecell.svg);
    background-repeat: no-repeat;
    background-size: 17px 18px;
    width: 17px;
    height: 18px;
  }
  @include media($width-max) {
    background-size: 22px 23px;
    width: 22px;
    height: 23px;
  }
}

.vodafone-icon {
  @include media($width-mid) {
    background-image: url(img/vodafone.svg);
    background-repeat: no-repeat;
    background-size: 17px 17px;
    width: 17px;
    height: 17px;
  }
  @include media($width-max) {
    background-image: url(img/vodafone.svg);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
  }
}

.authorisation > * {
  @include media($width-mid) {
    font-family: "PragmaticaBook-Reg";
    display: inline-block;
    vertical-align: bottom;
    color: #0075be;
  }
}

.authorisation {
  @include media($width-mid) {
    margin-right: 7px;
    margin-left: 19px;
    display: block;
  }
  @include media($width-max) {
    margin-left: 5%;
    margin-right: 6px;
    align-self: end;
  }
}

.avatar-icon {
  @include media($width-mid) {
    background-image: url(img/avatar.svg);
    background-size: 15px 17px;
    width: 15px;
    height: 17px;
    margin-right: 3px;
  }
  @include media($width-max) {
    background-size: 18px 20px;
    width: 18px;
    height: 20px;
    margin-right: 6px;
  }
}

.city {
  @include media($width-mid) {
    margin-right: 19px;
  }
  @include media($width-max) {
    margin-right: 22px;
  }
  .city-text-box {
    @include media($width-mid) {
      text-align: right;
      width: 110px;
      position: relative;
    }
    .city-text {
      @include media($width-mid) {
        display: inline-block;
        cursor: pointer;
        border-bottom: 1px dotted #0075be;
        line-height: 10px;
      }
      @include media($width-max) {
        line-height: 12px;
      }
    }
    .city-panel-arrowup {
      @include media($width-mid) {
        display: none;
        background-color: white;
        position: absolute;
        width: 9px;
        height: 9px;
        top: 13px;
        right: 0;
        z-index: 5;
        border-left: 1px solid #0075be;
        border-top: 1px solid #0075be;
        transform: rotate(45deg);
      }
      @include media($width-max) {
        top: 20px;
        right: 8px;
      }
    }
  }
  .city-panel-wrap {
    @include media($width-mid) {
      width: 316px;
      padding-top: 10px;
      display: none;
      position: absolute;
      right: 0;
      top: 13px;
      background-color: transparent;
      z-index: 4;
    }
    @include media($width-max) {
      padding-top: 15px;
    }
  }

  .city-panel {
    @include media($width-mid) {
      background-color: white;
      //padding: 6px 11px 9px 0px;
      border: 1px solid #0777bd;
      border-radius: 10px;
    }
    @include media($width-max) {
      padding: 8px 11px 0 0;
    }
    ul {
      @include media($width-mid) {
        display: inline-block;
        margin-right: 18px;
      }
      @include media($width-max) {
        margin-right: 15px;
      }
      &:last-child {
        @include media($width-mid) {
          margin-right: 0;
          position: relative;
        }
      }
    }
    .city-panel-item-box{
      width: 98px;
      display: inline-block;
    }
    .city-panel-item {
      @include media($width-mid) {
        padding: 1px 6px;
        color: #0075be;
        background-color: white;
        border-radius: 15px;
        display: inline-block;
        cursor: pointer;
      }
      @include media($width-max) {
        padding: 2px 11px;
      }
    }
    .city-panel-item-active {
      @include media($width-mid) {
        background-color: #0075be;
        color: white;
      }
    }
  }
}

.language {
  @include media($width-mid) {
    position: relative;
    font-size: 10.53px;
  }
  @include media($width-max) {
    font-size: 13px;
  }
  .language-panel{
  @include media($width-mid) {
    border: 1px solid #0777bd;
    border-radius: 6px;
    background-color: white;
    padding: 2px;
    z-index: 5;
  }
  @include media($width-max) {
    padding: 3px;
  }
}

.language-panel-wrap {
  @include media($width-mid) {
    display: none;
    position: absolute;
    padding-top: 4px;
    left: -7px;
    top: 12px;
    z-index: 4;
  }
  @include media($width-max) {
    padding-top: 6px;
  }
}

.language-arrow {
  @include media($width-mid) {
    display: none;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 1px;
    z-index: 5;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent #0075be transparent;
  }
  @include media($width-max) {
    top: 11px;
    left: 3px;
  }
  &:after {
    @include media($width-mid) {
      content: '';
      z-index: 6;
      position: absolute;
      left: -7px;
      top: 2px;
      border-style: solid;
      border-width: 0 7px 7px 7px;
      border-color: transparent transparent white transparent;
    }
  }
}

.language-text {
  @include media($width-mid) {
    cursor: pointer
  }
}

.language-panel-text {
  @include media($width-mid) {
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
    color: white;
    background-color: #0777bd;
    font-size: 11px;
    font-family: 'PragmaticaBook-Reg';
  }
  @include media($width-max) {
    padding: 5px;
  }
}

}

/*header second column first row styles ends*/

/*header second column second row styles starts*/

.header-second-row {
  @include media($width-mid) {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding-right: 0;
    margin-left: 0;
  }
  @include media($width-max) {
    top: -4px;
  }
}

.search-box {
  @include media($width-mid) {
    display: inline-block;
    height: 28px;
    position: relative;
    width: 10%;
  }
  @include media($width-max) {
    height: 35px;
  }
  .search-area {
    @include media($width-mid) {
      height: 28px;
      padding-right: 28px;
      width: 0px;
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      z-index: 3;
      margin-right: 0;
      transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
      cursor: pointer;
    }
    @include media($width-max) {
      height: 35px;
      padding-right: 35px;
    }
    &:focus {
      @include media($width-mid) {
        padding-left: 50%;
        background: white;
        width: 250%;
        z-index: 1;
        cursor: text;
        padding-top: 2px;
        border: 2px solid #ebebeb;
        border-right: none;
        border-radius: 15px;
        box-sizing: border-box;
      }
      @include media($width-max) {
        width: 250%;
      }
    }
  }

  .search-icon {
    @include media($width-mid) {
      text-indent: -10000px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      cursor: pointer;
      width: 28px;
      height: 28px;
      box-sizing: border-box;
      border: 2px solid #ebebeb;
      border-radius: 20px;
      background-image: url(img/search_icon.svg);
      background-size: 12px 12px;
      background-repeat: no-repeat;
      background-position: center;
    }
    @include media($width-max) {
      background-size: 15px 15px;
      width: 35px;
      height: 35px;
    }
  }
}
.marker-cart-box {
  @include media($width-mid) {
    position: relative;
    top: 2px;
  }
}
.our-markets-box {
  @include media($width-mid) {
    display: inline-block;
    color: #0075be;
    margin-right: 10px;
  }
  @include media($width-max) {
    margin-right: 8px;
  }
}
.our-markets-box > * {
  @include media($width-mid) {
    display: inline-block;
    vertical-align: middle;
  }
  @include media($width-max) {
    vertical-align: sub;
  }
}
.pin-icon {
  @include media($width-mid) {
    background-image: url(img/pin_icon.svg);
    background-repeat: no-repeat;
    background-size: 10px 12px;
    width: 10px;
    height: 12px;
    margin-right: 3px;
  }
  @include media($width-max) {
    background-image: url(img/pin_icon.svg);
    background-size: 12px 15px;
    width: 12px;
    height: 15px;
    margin-right: 7px;
  }
}

.cart {
  @include media($width-mid) {
    position: relative;
  }
}

.cart > * {
  @include media($width-mid) {
    display: inline-block;
    vertical-align: middle;
  }
}
.cart-icon {
  @include media($width-mid) {
    background-image: url(img/cart_icon.svg);
    background-repeat: no-repeat;
    background-size: 18px 17px;
    width: 18px;
    height: 17px;
    margin-right: 2px;
  }
  @include media($width-max) {
    background-size: 22px 20px;
    width: 22px;
    height: 20px;
    margin-right: 0;
  }
}

.court-counter {
  @include media($width-mid) {
    background-color: #0075be;
    font-weight: bold;
    border-radius: 35px;
    box-sizing: border-box;
    position: relative;
    right: 0;
    top: 0;
    width: 23px;
    height: 23px;
    font-family: 'Proximareg';
    font-size: 13px;
    color: #e1eff7;
    text-align: center;
    padding-top: 3px;
  }
  @include media($width-max) {
    width: 29px;
    height: 29px;
    font-size: 10px;
    padding-top: 9px;
  }
}

/*header second column second row styles end*/

/*header second column styles ends*/